
*{
    margin: 0;
    padding: 0;
}

.form{
    display: flex;
    position: relative;
    top: 15px;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    gap: 2rem;
}

.formimage img{
    width: 100%;
    height: auto; /* Change to auto to maintain aspect ratio */
    max-height: 80vh; /* Limit maximum height */
}

.formcontent{
    display: flex;
    flex-direction: column;
    width: 50%; /* Adjusted width for larger screens */
    text-align: center;
    /* margin-right: 5%; */
    margin-top: 80px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    /* border: 1px solid; */
}

.formInputCont{
    position: relative;
    top: 25px;
    height: auto; /* Change to auto to adjust height */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* padding-left: 20%; */
    /* border: 1px solid; */
}

.forminput{
    width: 98%; /* Adjusted width for responsiveness */
    margin: 5px;
    text-align: center;
    height: 35px;
    border: none;
    background-color: #F5F5F5;
}

.forminput:focus{
    outline: none;
}

.formbtn{
    border: none;
    background-color: #DB4444;
    color: white;
    width: 100%; /* Adjusted width for responsiveness */
    height: 40px;
    border-radius: 5px;
    margin-top: 2rem;
}

.formheading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 52px;
}

.formbtncont{
    position: relative;
    top: 22px;
}
/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
    .form{
        flex-direction: column;
        align-items: center;
    }
    
    .formcontent{
        width: 90%;
        margin-top: 40px; /* Adjusted margin top for smaller screens */
    }
    
    .formInputCont{
        padding-left: 0; /* Adjusted padding left for smaller screens */
    }
}
