*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html{
    font-size: 100%;
  }


.TemplateContainer{
    /* text-align: center; */
    /* justify-content: center; */
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid; */
    margin-top: 2rem;
    gap: 2rem;
    position: relative;
    
   
}

.Templatehead{

   position: relative;
   left: 5rem;
   width: 74%;

}

#templateHeading{
  display: inline-block;
  border: 12px solid #DB4444;
  padding-left: 10px;
  border-bottom: none;
  border-top: none;
  border-right: none;
  position: relative;
  left: 5rem;
}

@media screen and (max-aspect-ratio: 4/3) {
  .Templatehead{
    left: 0;
    width: 100%;
  }
  
  #templateHeading{
    left: 1rem;
    top: 1rem;
  }
}



