.bestSelling {
  position: relative;
  /* border: 1px solid green; */
  /* height: 37rem; */
  /* top: 25rem; */
  margin-top: 1.5rem;
}

#sellingproduct {
  /* gap: 4rem; */
  display: flex;
  justify-content: space-evenly;
  /* flex-wrap: wrap; */
}

.bestselling-card {
}

.cardSection {
  /* display: flex;
  flex-wrap: wrap; */
}

@media screen and (max-aspect-ratio: 4/3) {
  #sellingproduct {
    /* gap: 4rem; */
    display: flex;
    justify-content: space-evenly;
    /* flex-wrap: wrap; */
    flex-direction: column;
  }
}
