
.card{
    height: 64vh;
    min-width: 20vw;
    left: 5rem;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cardImage{
    height: 36vh;
    background-color: #F5F5F5;
    text-align: center;
    padding-top: 2rem;   
}
.cardImage img:hover{
    scale: 1.1;
}
.specification{
    display: flex;
    column-gap: 2rem;
}

.cardImage img{
    mix-blend-mode:multiply;
    max-width: 100%;
    max-height: 100%;
    transition: all 0.1s;
}

.sale{
    position: relative;
    height: 2rem;
    width: 3rem;
    border: none;
    border-radius: 2px;
    top: 2.3rem;
    left: 0.3rem;
    background-color: #BD4444;
    color: whitesmoke;
    text-align: center;
}

#cartbtn{
    background-color: #BD4444;
    color: #F5F5F5;
    border: none;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    font-family: poppins;
    font-size: 17px;
}

#cartbtn:hover{
    background-color: #e67777;
}

.star-specification{
    display: flex;
    justify-content: space-between;
}
