.category{
    position: relative;
    height: 25rem;
}

.boxCategory{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    transition: all 0.5s;
}
.boxCategory img:hover{
    scale: 1.4;
}
.horizontalline{
    width: 90%;
    margin-left: 1.5rem;
    margin-top: 4rem;
}
