.category{
    position: relative;
    /* border: 1px solid red; */
    height: 25rem;
    /* top: 16rem; */
}

.boxCategory{
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
}

.horizontalline{
    width: 90%;
    margin-left: 1.5rem;
    margin-top: 4rem;
}
