.navbar{
    background-color: white !important;
    border-bottom: 1px solid rgb(210, 200, 200);
}
#searchbox{
    position: relative;
    right: 100px;
}

#shoppingcart{
    height: 2.2rem;
    width: 3rem;
}
.navbar-brand{
    margin-left: 1.2rem;
    font-size: 2rem;
    color: #DB4444;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-item{
   /* font-family:poppins; */
   font-size: 18px;
   font-weight: 600;
   color: #000;
}


.navbar-nav{
    gap: 2.5rem;
    margin-left: 14rem;
}

.form-control{
    width: 15rem;
    text-align: left;
    background-color: #F5F5F5;
}

.active{
   color: #DB4444 !important;
}