.saleSection {
 
  position: relative;
  margin-top: 1.5rem;
  
}

.writingSection {
  padding-left: 3rem;
  margin-top: 4rem;
  
}

.heading4 {
  border-left: 15px solid;
  padding-left: 1rem;
  color: #db4444;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}

.heading1 {
 
  font-size: 3rem;
  margin-top: 2rem;
  font-family: "Playfair Display", serif;
}

.cardsSection {
  position: relative;
  display: flex;
  gap: 1rem;
  /* margin-left: -2rem; */
  overflow: hidden;
  /* border: 1px solid; */
  margin-top: 1rem;
}
.cardsSection > * {
  flex: 0 0 auto;
}
.slidingClass {
  display: flex;
}

.buttonClass {
  position: absolute;
  right: 2rem;
}

.buttonClass button {
  margin: 0.5rem;
  border-radius: 20px;
  border: none;
  color: #db4444;
}

#morebutton {
  margin-left: 45%;
  margin-top: 2rem;
}

@media screen and (max-aspect-ratio: 4/3) {
  .saleSection {
    padding-bottom: 40px;
  }
  .saleSection {
    
    position: relative;
    margin-top: 1.5rem;
    padding-bottom: 10px;
  }

  .writingSection {
    padding-left: 0.7rem;
  }

  .buttonClass {
    position: absolute;
    right: 1rem;
  }

  .buttonClass button {
    margin: 0.5rem;
    border-radius: 20px;
    position: relative;
    top: -40px;
    border: none;
    color: #db4444;
  }

  #morebutton {
    margin-left: 45%;
    margin-top: 2rem;
  }

  .heading4 {
    border-left: 15px solid;
    padding-left: 1rem;
    color: #db4444;
    font-size: 1.5rem;
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }

  .heading1 {
   
    font-size: 1.5rem;
    margin-top: 0rem;
    font-family: "Playfair Display", serif;
  }
}
