 .sidepannel{
    
    border-right: 2px solid;
    border-color: rgb(210, 200, 200);
    height: 60vh;
    width: 18vw;
    padding-top: 2rem;
   
}

.barList{
  
    list-style: none;
    font-weight: 400;
    font-size: 1.1rem;
    color: #000;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 0.73rem;

}
.sidelink{
    color: #000;
    text-decoration: none;
}

.barListitem{
    width: 160px;
    cursor: pointer;
    
}

.barListitem:hover{
    background-color: #DB4444;
    color: white;
    border-radius: 10px;
}

.item-link{
    text-decoration: none;
    color: #000;
} 