.carousel{
    position: absolute;
    /* height: 24rem;
    width: 30rem; */
    width: 78vw;
    height: 58vh;
    /* border: 2px solid; */
    /* right: 120px; */
    margin-top: 1rem;
    left: 280px;
    
}

.carousel-inner{
   height: 58vh;
}

.carousel-item img{
    /* border: 1px solid red; */
    height: 57vh;
}

